<div class="progress-content">
  <circle-progress [percent]="Available" [subtitle]="titleAvailable" [backgroundColor]="backgroundColorAvailable"
    [radius]="radius" [maxPercent]="maxPercent" [unitsColor]="unitsColor" [outerStrokeWidth]="outerStrokeWidth"
    [outerStrokeColor]="outerStrokeColor" [innerStrokeColor]="innerStrokeColor" [titleColor]="titleColor"
    [subtitleColor]="subtitleColor" [showSubtitle]="showSubtitle" [showInnerStroke]="showInnerStroke" [startFromZero]="startFromZero"
    [subtitleFontSize]="subtitleFontSize" [unitsFontSize]="unitsFontSize" [titleFontSize]="titleFontSize" [showUnits]="showUnits">
  </circle-progress>

  <circle-progress [percent]="Connect" [subtitle]="titleConnect" [backgroundColor]="backgroundColorConnect" [radius]="radius"
    [maxPercent]="maxPercent" [unitsColor]="unitsColor" [outerStrokeWidth]="outerStrokeWidth" [outerStrokeColor]="outerStrokeColor"
    [innerStrokeColor]="innerStrokeColor" [titleColor]="titleColor" [subtitleColor]="subtitleColor" [showSubtitle]="showSubtitle"
    [showInnerStroke]="showInnerStroke" [startFromZero]="startFromZero" [subtitleFontSize]="subtitleFontSize"
    [unitsFontSize]="unitsFontSize" [titleFontSize]="titleFontSize" [showUnits]="showUnits">
  </circle-progress>

  <circle-progress [percent]="Disable" [subtitle]="titleDisable" [backgroundColor]="backgroundColorDisable" [radius]="radius"
    [maxPercent]="maxPercent" [unitsColor]="unitsColor" [outerStrokeWidth]="outerStrokeWidth" [outerStrokeColor]="outerStrokeColor"
    [innerStrokeColor]="innerStrokeColor" [titleColor]="titleColor" [subtitleColor]="subtitleColor" [showSubtitle]="showSubtitle"
    [showInnerStroke]="showInnerStroke" [startFromZero]="startFromZero" [subtitleFontSize]="subtitleFontSize"
    [unitsFontSize]="unitsFontSize" [titleFontSize]="titleFontSize" [showUnits]="showUnits">
  </circle-progress>
</div>